svg:g(transform='matrix(0.292547, 0, 0, 0.292547, -54.6363, -111.465)')
    svg:g.locomotive-body
        svg:rect(x='204.167', y='441.167', width='306', height='161')
        svg:circle(cx='407.167', cy='599.167', r='34.1321')
        svg:circle(cx='308.167', cy='599.167', r='34.1321')
        svg:rect(x='298.167', y='591.167', width='120', height='20')
        svg:rect(x='457.167', y='388.167', width='30', height='63')
        svg:rect(x='456.167', y='565.167', width='54', height='55')
        svg:line(x1='511.167', y1='566.167', x2='583.167', y2='622.167')
        svg:line(x1='583.167', y1='623.167', x2='511.167', y2='578.167')
        svg:line(x1='581.167', y1='623.167', x2='511.167', y2='592.167')
        svg:line(x1='581.167', y1='622.167', x2='511.167', y2='606.167')
        svg:line(x1='581.167', y1='622.167', x2='510.167', y2='620.167')
        svg:circle(cx='468.167', cy='619.167', r='13.9284')
        svg:circle(cx='497.167', cy='619.167', r='13.9284')
        svg:rect(x='411.167', y='471.167', width='63', height='58')
    svg:g.locomotive-smoke
        svg:circle(*ngFor="let smoke of smokes", [attr.cx]='470 - smoke.x', [attr.cy]='360 - smoke.y', [attr.r]='14 + smoke.r', [style.opacity]='smoke.o')
