svg:g(transform='matrix(0.292547, 0, 0, 0.292547, -54.6363, -111.465)')
    svg:g.locomotive-wagon
        svg:rect(x='204.167', y='441.167', width='306', height='161')
        svg:circle(cx='407.167', cy='599.167', r='34.1321')
        svg:circle(cx='308.167', cy='599.167', r='34.1321')

